body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
}

#gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

#circle {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: brown;
    border-radius: 50%;
    left: 50px;
    top: 50px;
}

.square {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(5, 5, 100);
}